.container.parameter-display {
    display: flex;
    height: 18rem;
}
  
.parameter-display .current-box {
    color: white;
    border: solid 0.04em rgba(255, 255, 255, 0.452); 
    background-color: #000;
    margin-bottom: 2rem;
    height: 10em;
    width: 16em;
    margin-top: 2em;
    border-radius: 1.4em;
    box-shadow: 0 0 0.4em 0.1em rgb(199, 255, 236);
    position: relative;
}
.parameter-display .voltage-box {
    color: white;
    border: solid 0.04em rgba(255, 255, 255, 0.452); 
    background-color: #000;
    margin-bottom: 2rem;
    height: 10em;
    width: 16em;
    margin-top: 2em;
    border-radius: 1.4em;
    box-shadow: 0 0 0.4em 0.1em #ffc7c7ff;
    position: relative;
}

.recharts-wrapper {
    position: absolute;
    top: -2.45rem;
    right: -0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    width: 14rem;
    color: white;
}

.recharts-responsive-container.motor-area-chart{
    height: 100%!important;
    position: absolute;
    top: 20em;
    left: -56em;
}
.recharts-responsive-container.motor-area-chart .recharts-surface {
    height: 30rem!important;
    width: 46rem!important;
}

